$primaryColor: #9356DC;
$bgSection: white;
$bgHero: #F6F6F6;
$bgBanner: #EAEAEA;
$bgColor: #353535;
$badgefontColor: #008766;
$badgebgColor: #99E2D0;
$boxshadowColor: #0000001a;

@mixin flexCenter($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexStart($direction: row) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexEnd($direction: row) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: $direction;
}

/**Create new "flex" mixin without "align-items: center" (what to name it?)**/
@mixin padding() {
    padding: 15px;
}

@mixin header-2 {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin robotoS14 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin imgWidth {
    width: 100%
}

.main-container {
    max-width: 100%;
    text-decoration: none;
}

.header-container {
    @include flexCenter(column);
}

.body-container {
    background-color: $bgSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__heading {
        @include header-2;
        margin-left: 20px;
    }
}

.align-txt {
    @include flexCenter(row)
}

.font-txt {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &__color {
        color: $bgColor;
    }

    &__footer {
        color: white;
    }
}

.loc-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 17px;

    &__container {
        width: 100%;
        height: 50px;
    }

    &__bg {
        background-color: $bgBanner;
    }
}


.header-img {
    width: 162px;
    height: 63px;
    padding: 13px 89px 13px 89px;
    @include flexCenter();
}

.hero-container {
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #F6F6F6;
}

.hero-title {
    @include header-2;

    &__txt {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: $bgColor;
    }
}

.button {
    border: none;
    background-color: transparent;
    outline: none;
    width: 218px;
    height: 50px;
    @include flexCenter(row);
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 10px 0px $boxshadowColor;
    color: $bgSection;
}

.step-section {
    width: 323px;
    height: 69px;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: $bgHero;
    box-shadow: 0px 4px 10px 0px $boxshadowColor;

    &__number {
        color: var(--White, #FFF);
        @include robotoS14;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background-color: $primaryColor;
        @include flexCenter();
    }

    &__menu {
        width: 323px;
        height: 69px;
        gap: 20px;
        border-radius: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        background-color: $bgSection;
        box-shadow: 0px 4px 10px 0px $boxshadowColor;
    }
}

.card {
    @include flexCenter(column);
    width: 346px;
    height: 231px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px $boxshadowColor;
    position: relative;

    &__title {
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: space-between;
    }

    &__txt {
        color: #000;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 94%;
    }

    & img {
        width: 100%;
        height: 75%;
    }

    & p {
        width: 100%;
        margin: 0;
    }

    & h3 {
        margin: 0;
    }
}

.badge {
    width: 80px;
    height: 29px;
    text-align: center;
    @include robotoS14;
    color: var(--Green-Font, $badgefontColor);
    position: absolute;
    top: 10px;
    right: 10px;

    &__bg {
        border-radius: 2px;
        background-color: $badgebgColor;
        box-shadow: 0px 2px 4px 0px $boxshadowColor;
    }
}

.footer {
    width: 375px;
    padding: 22px 25px;
    background: $bgColor;
    @include flexCenter(column);
    align-items: flex-start;

    &__logo {
        color: var(--White, #FFF);
        font-family: Shrikhand;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 16px;
    }

    &__fa {
        color: white;
    }
}