/**Create new "flex" mixin without "align-items: center" (what to name it?)**/
footer {
  background: #353535;
  padding-left: 40px;
  padding-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  list-style: none;
  width: 80%;
  height: 100%;
  max-width: 424px;
  max-height: 203px;
  gap: 10px;
  padding: 0px;
}

.footer__logo {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer__fa {
  color: white;
  width: 11px;
  height: 13px;
}

.footer__gap {
  gap: 15px;
}

/*** LOADER ***/
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(10);
    opacity: 0%;
  }
}
body {
  height: calc(100% - 8px);
  margin: 8px 8px 0px 8px;
}

.loader {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  animation: scale 1.5s infinite, fadeIn 3s 1 forwards reverse;
  position: fixed;
  top: 40%;
  left: 50%;
  color: #7E7E7E;
}

main {
  animation: fadeIn 6s 1 forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*** ANCHOR ***/
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

/*** CONTAINERS ***/
.container {
  max-width: 100%;
  text-decoration: none;
  margin: 0px;
}
.container--hero {
  width: 100%;
  height: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: #F6F6F6;
}
.container--body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px 40px 0px;
}
.container--header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container--heading {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex: auto;
  margin-left: 20px;
  padding-bottom: 15px;
}
.container--menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container--txt {
  width: 100%;
  height: 50px;
}

/*** TEXT ***/
.txt {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.txt--align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.txt--hero {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
.txt--loc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
}
.txt--card {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 10px;
}
.txt--footer {
  color: white;
}
.txt__color {
  color: #353535;
}
.txt__bg {
  background-color: #EAEAEA;
}

.header-img {
  width: 162px;
  height: 63px;
  padding: 13px 89px 13px 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero-title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icon__color {
  color: #7E7E7E;
}
.icon__color:hover {
  color: #9356DC;
}

/**
/*** BUTTON ***/
.btn {
  border: none;
  background-color: transparent;
  outline: none;
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  color: white;
  margin: 20px 0px 20px 0px;
}

.btn:hover {
  background: var(--Button-Gradient, linear-gradient(193deg, #b08dda -11.44%, #ffa4e6 123.93%));
}

/*** STEP SECTION ***/
.step-section {
  width: 323px;
  height: 69px;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 20px;
}
.step-section__number {
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: -10px;
}
.step-section__menu {
  background-color: white;
}
.step-section__p {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  min-width: 168px;
  width: 240px;
  max-width: 257px;
  position: relative;
}
.step-section__width {
  width: 349px;
  height: 70px;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 20px;
}

/*** CARDS ***/
.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 346px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}
.card__title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.card img {
  width: 100%;
  height: 100%;
}
.card h3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
}
.card p {
  width: 100%;
  margin: 0;
}
.card__align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 50px;
}
.card__bgPadding {
  background-color: #F6F6F6;
  padding: 15px 0px 15px 0px;
}

/*** HEART ICON ***/
.heart__pos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.heart-gradient {
  background: -webkit-linear-gradient(45deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-container:hover > .heart-gradient,
.heart-container:active > .heart-gradient {
  animation: 1s appear ease-in-out forwards 1;
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*** BADGE ***/
.badge {
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Green-Font, #008766);
  position: absolute;
  top: 13px;
  right: 4.5px;
}
.badge__bg {
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
}

.overflow {
  overflow: hidden;
}

/*
* {
    outline: 1px red solid !important;
    visibility: visible !important
}
*//*# sourceMappingURL=main.css.map */