.btn {
  border: none;
  background-color: transparent;
  outline: none;
  width: 218px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  color: white;
  margin: 20px 0px 20px 0px;
  min-height: 40px;
}

.btn:hover {
  background: var(--Button-Gradient, linear-gradient(193deg, #b08dda -11.44%, #ffa4e6 123.93%));
}

.arrow__pos {
  position: absolute;
  left: 10px;
}

.heart__pos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 19px;
  right: 20px;
  width: 30px;
  height: 30px;
}

.fa-heart {
  color: black !important;
}

.heart__grad {
  background: -webkit-linear-gradient(45deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-container:hover > .heart__grad,
.heart-container:active > .heart__grad {
  animation: 0.5s appear ease-in-out forwards 1;
  opacity: 1;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  background: #353535;
  padding-left: 40px;
  padding-top: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  list-style: none;
  width: 80%;
  height: 100%;
  max-width: 424px;
  max-height: 203px;
  gap: 10px;
  padding: 0px;
}

.footer__logo {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer__fa {
  color: white;
  width: 11px;
  height: 13px;
}

.footer__gap {
  gap: 15px;
}

.fa-xl {
  font-size: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0 auto;
}

body {
  margin: 8px 8px 0px 8px;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(10);
    opacity: 0%;
  }
}
.loader {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  animation: scale 1.5s infinite, fadeIn 3s 1 forwards reverse;
  position: fixed;
  top: 40%;
  left: 50%;
  color: #7E7E7E;
}

main {
  animation: fadeIn 6s 1 forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
}

.container {
  max-width: 100%;
  text-decoration: none;
  margin: 0px;
}
.container--hero {
  width: 100%;
  height: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  background-color: #F6F6F6;
}
.container--body {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px 40px 0px;
}
.container--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.container--heading {
  display: flex;
  flex: auto;
  margin-left: 20px;
  padding-bottom: 15px;
  width: 323px;
}
.container--menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container--txt {
  width: 100%;
  height: 50px;
}

.txt {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.txt--align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.txt--hero {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}
.txt--loc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
}
.txt--card {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 10px;
}
.txt--footer {
  color: white;
}
.txt__color {
  color: #353535;
}
.txt__bg {
  background-color: #EAEAEA;
}

.header-img {
  width: 162px;
  height: 63px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: #000;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-title__margin {
  color: #000;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
}

.icon__color {
  color: #7E7E7E;
}
.icon__color:hover {
  color: #9356DC;
}

.steps {
  width: 323px;
  height: 69px;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 20px;
}
.steps--num {
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
}
.steps--menu {
  background-color: white;
}
.steps--p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0px;
  margin: 0px;
  min-width: 168px;
  width: 240px;
  max-width: 257px;
  position: relative;
}
.steps__width {
  width: 350px;
  height: 70px;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 346px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}
.card--title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.card__align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-bottom: 50px;
}
.card__bgPad {
  background-color: #F6F6F6;
  padding: 15px 0px 15px 0px;
}
.card img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card h3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
}
.card p {
  width: 100%;
  margin: 0;
}

.badge {
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Green-Font, #008766);
  position: absolute;
  top: 13px;
  right: 4.5px;
}
.badge__bg {
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
}

.overflow {
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .container--body,
  #restaurants {
    padding: 0px 50px;
  }
  .card__align {
    margin-top: 20px;
    justify-content: flex-start;
  }
  .steps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 307px;
  }
  .steps__width {
    width: 634px;
  }
  body {
    padding: 0px;
  }
  .card {
    min-width: 240px;
    width: 100%;
    max-width: 469px;
  }
  .card__align {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
  }
  .hero-title__margin {
    width: 100%;
    margin-top: 10px;
    margin-left: 172px;
    padding-left: 0px;
  }
  .container--body {
    gap: 15px;
    margin: 20px 0px 25px 0px;
  }
  footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }
  .txt--footer {
    min-width: 130px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    min-width: 100%;
    padding: 10px;
    padding-bottom: 40px;
  }
  .footer__logo {
    order: 1;
    margin: 0px;
    margin-left: 20px;
  }
}
/*
{
    outline: 1px red solid !important;
    visibility: visible !important
}
*//*# sourceMappingURL=main.css.map */