/**Create new "flex" mixin without "align-items: center" (what to name it?)**/
.main-container {
  max-width: 100%;
  text-decoration: none;
  margin: 0px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header-container__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.body-container {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body-container__heading {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex: auto;
  margin-left: 20px;
}

.hero-container {
  width: 100%;
  height: 277px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #F6F6F6;
  justify-content: space-evenly;
}

.align-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

.font-txt {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.font-txt__color {
  color: #353535;
}
.font-txt__footer {
  color: white;
}

.loc-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 17px;
}
.loc-txt__container {
  width: 100%;
  height: 50px;
}
.loc-txt__bg {
  background-color: #EAEAEA;
}

.header-img {
  width: 162px;
  height: 63px;
  padding: 13px 89px 13px 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hero-title {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-title__txt {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #353535;
}

.button {
  border: none;
  background-color: transparent;
  outline: none;
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  color: white;
  margin: 20px 0px 20px 0px;
}

.step-section {
  width: 323px;
  height: 69px;
  gap: 20px;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
  padding-left: 20px;
}
.step-section__number {
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: -10px;
}
.step-section__menu {
  background-color: white;
}
.step-section__p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 346px;
  height: 251px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
.card__align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 50px;
}
.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}
.card__title {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.card__txt {
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 10px;
}
.card__heart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card img {
  width: 100%;
  height: 100%;
}
.card p {
  width: 100%;
  margin: 0;
}
.card h3 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
}

.heart__container {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 25px;
  right: 20px;
}

.badge {
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Green-Font, #008766);
  position: absolute;
  top: 13px;
  right: 4.5px;
}
.badge__bg {
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1019607843);
}

.footer {
  padding: 22px 25px;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}
.footer__fa {
  color: white;
}

* {
  outline: 1px red solid !important;
  visibility: visible !important;
}/*# sourceMappingURL=main.css.map */