@import 'variables';
@import 'mixins';
@import 'components';

// GENERAL //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0 auto;
}

body {
    margin: 8px 8px 0px 8px;
}

// LOADER //
@keyframes scale {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(10);
        opacity: 0%;
    }
}

.loader {
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    animation: scale 1.5s infinite, fadeIn 3s 1 forwards reverse;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #7E7E7E;
}

main {
    animation: fadeIn 6s 1 forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

// ANCHOR //
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
}

// CONTAINERS //
.container {
    max-width: 100%;
    text-decoration: none;
    margin: 0px;

    &--hero {
        width: 100%;
        height: 277px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        background-color: #F6F6F6;
    }

    &--body {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0px 40px 0px;
    }

    &--header {
        @include flexCenter(column);
        box-shadow: 0px 0px 4px 0px #00000026;
    }

    &--heading {
        display: flex;
        flex: auto;
        margin-left: 20px;
        padding-bottom: 15px;
        width: 323px;
    }

    &--menu {
        @include flexCenter(row);
    }

    &--txt {
        width: 100%;
        height: 50px;
    }
}

// TEXT //
.txt {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &--align {
        @include flexCenter(row);
    }

    &--hero {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: $bgColor;
    }

    &--loc {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 17px;
    }

    &--card {
        color: #000;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 10px;
    }

    &--footer {
        color: white;
    }

    &__color {
        color: $bgColor;
    }

    &__bg {
        background-color: $bgBanner;
    }
}

// HEADER //
.header-img {
    width: 162px;
    height: 63px;
    @include flexCenter();
}

// HERO //
.hero-title {
    @include hero-title;

    &__margin {
        @include hero-title;
        padding-left: 20px;
    }
}

// ICONS //
.icon__color {
    color: $iconColor;

    &:hover {
        color: $primaryColor;
    }
}

// STEP SECTION //
.steps {
    width: 323px;
    height: 69px;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: $bgHero;
    box-shadow: 0px 4px 10px 0px $boxshadowColor;
    position: relative;
    padding-left: 20px;

    &--num {
        color: var(--White, #FFF);
        @include robotoS14;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background-color: $primaryColor;
        @include flexCenter();
        position: absolute;
        left: -10px;
    }

    &--menu {
        background-color: white;
    }

    &--p {
        @include flexStart(column, start);
        padding: 0px;
        margin: 0px;
        min-width: 168px;
        width: 240px;
        max-width: 257px;
        position: relative;
    }

    &__width {
        width: 350px;
        height: 70px;
        gap: 20px;
        border-radius: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        box-shadow: 0px 4px 10px 0px $boxshadowColor;
        position: relative;
        padding-left: 20px;

    }
}

// CARDS //
.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 346px;
    height: 251px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0px $boxshadowColor;
    position: relative;

    &--container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10px;
    }

    &--title {
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: space-between;
    }

    &__align {
        @include flexCenter(column);
        gap: 18px;
        padding-bottom: 50px;
        max-width: 1440px;
        width: 100%;
    }

    &__bgPad {
        background-color: $bgHero;
        padding: 15px 0px 15px 0px;
    }

    & img {
        width: 100%;
        height: 75%;
        object-fit: cover;
    }

    & h3 {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 3px;
    }

    & p {
        width: 100%;
        margin: 0;
    }
}

// BADGE //
.badge {
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include robotoS14;
    color: var(--Green-Font, $badgefontColor);
    position: absolute;
    top: 13px;
    right: 4.5px;

    &__bg {
        border-radius: 2px;
        background-color: $badgebgColor;
        box-shadow: 0px 2px 4px 0px $boxshadowColor;
    }
}

// OVERFLOW //
.overflow {
    overflow: hidden;
}

// MEDIA QUERY //
@media only screen and (min-width:800px) {

    .container--body,
    #restaurants {
        padding: 0px 50px;
    }

    .card__align {
        margin-top: 20px;
        justify-content: flex-start;
    }

    .steps {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 307px;

        &__width {
            width: 634px;
        }
    }

    body {
        padding: 0px;
    }

    .card {
        min-width: 240px;
        width: 100%;
        max-width: 469px
    }

    .card__align {
        @include flexWrap;
    }

    .hero-title__margin {
        width: 100%;
        margin-top: 10px;
        margin-left: 172px;
        padding-left: 0px;
    }

    .container--body {
        gap: 15px;
        margin: 20px 0px 25px 0px;
    }

    footer {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }

    .txt--footer {
        min-width: 130px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        min-width: 100%;
        padding: 10px;
        padding-bottom: 40px;
    }

    .footer__logo {
        order: 1;
        margin: 0px;
        margin-left: 20px;
    }
}

/*
{
    outline: 1px red solid !important;
    visibility: visible !important
}
*/