@import 'variables';
@import 'mixins';
@import 'components';

.hero-img {
    position: absolute;
    z-index: -1;
}

.menu-box {
    height: 1148px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: #F6F6F6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.menu-header {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    padding: 20px 0px 0px 0px;
    position: relative;
    margin-bottom: 30px;
    width: fit-content;

    &:before {
        position: absolute;
        height: 3px;
        width: 57%;
        left: 0;
        bottom: -3px;
        display: block;
        content: "";
        background-color: #99E2D0;
    }
}

.tick-box {
    height: 100%;
    width: 71px;
    background-color: #99E2D0;
    transform: translateX(100%);

    &__color {
        color: white;
    }
}

@keyframes slideToOrigin {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes rotateRight {
    from {
        rotate: 180deg;
    }

    to {
        rotate: 0deg;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.steps--p p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.steps__width:active {
    & .steps--p {
        width: 160px;

        p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }

        h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    & .tick-box {
        animation: 1s slideToOrigin forwards 1, 1s spin infinite;
        @include flexCenter()
    }

    & .tick-box>.tick {
        -webkit-animation: spin 0.75s linear 1;
        -moz-animation: spin 0.75s linear 1;
        animation: spin 0.75s linear 1
    }
}

.heart-container {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;

    & i {
        position: absolute;
        top: 25px;
        right: 25px;
        width: 32px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
}

.banner {
    font-family: Shrikhand;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    color: black;
    width: 80%;
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;

    &--heart {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 26px;
        right: 20px;
    }
}

.menu--li {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: black;

    &__title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
    }

    &__descr {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        line-height: 17px;
    }

    &__price {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;
        color: $bgColor;
        position: absolute;
        transform: translateX(100%);
    }
}