/**Create new "flex" mixin without "align-items: center" (what to name it?)**/
.footer {
  padding: 22px 25px;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.footer__logo {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.footer__fa {
  color: white;
  width: 11px;
  height: 13px;
}

.footer__gap {
  gap: 15px;
}

.hero-img {
  position: absolute;
  z-index: -1;
}

.menu-box {
  height: 1148px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.menu-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  padding: 20px 0px 0px 0px;
  position: relative;
  margin-bottom: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.menu-header:before {
  position: absolute;
  height: 3px;
  width: 57%;
  left: 0;
  bottom: -3px;
  display: block;
  content: "";
  background-color: #99E2D0;
}

.green-tick-box {
  height: 100%;
  width: 71px;
  background-color: #99E2D0;
  transform: translateX(100%);
}

@keyframes slideToOrigin {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rotateRight {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 0deg;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.step-section__p p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.step-section__width:active .step-section__p {
  width: 160px;
}
.step-section__width:active .step-section__p p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.step-section__width:active .step-section__p h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.step-section__width:active .green-tick-box {
  animation: 1s slideToOrigin forwards 1, 1s spin infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.step-section__width:active .green-tick-box > .tick {
  animation: spin 0.75s linear 1;
}

.banner--title {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  color: black;
  width: 80%;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}
.banner--title i {
  position: relative;
  top: 0px;
  right: 0px;
}

.banner--heart {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 33px;
  right: 20px;
}

.menu--li {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: black;
}
.menu--li__title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.menu--li__descr {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
}
.menu--li__price {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #353535;
  position: absolute;
  transform: translateX(100%);
}/*# sourceMappingURL=menu.css.map */